body {
    background-color: rgb(173, 223, 238);
}

.container {
    color: navy;
    background-color: aliceblue;
    font-family: 'Josefin', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: navy solid 2px;
    padding: 10px;
    font-size: large;
}

.hs {
    top: 5%;
    left: 5%;
    transform: translate(-10%, -10%);
}

.showTime {
    top: 5%;
    right: 5%;
    transform: translate(-10%, -10%);
}

#start-btn {
    font-family: 'Josefin', sans-serif;
    color: aliceblue;
    background-color: navy;
    font-size: 30px;
    font-weight: 400;
}